# Dependencias
node_modules/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Directorios de construcción
/dist
/build

# Archivos de configuración IDE
.idea/
.vscode/
*.swp
*.swo
